/*HTML CONTACTO*/
#fondoContacto {
    background: url(../img/fondo-contacto.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

    .contactForm {
        display: flex;
        width: 100%;
        height: 100%;

        form {
            display: flex;
            flex-direction: column;
            width: 70vw;
            height: 75vh;
            margin: auto;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.7);
            padding: 10px 20px;
            border-radius: 20px;
            font-family: 'Roboto', sans-serif;

            h1 {
                color: white;
                text-align: center;
                font-size: 1.2rem;
                margin-bottom: 20px;
                padding-top: 20px;
            }

            input,
            textarea {
                width: 85%;
                margin-bottom: 20px;
                padding: 10px;
                font-size: 17px;
                border: none;
            }

            textarea {
                min-height: 100px;
                max-height: 200px;
                max-width: 85%;
                font-family: 'Roboto', sans-serif;
            }

            #botonContactForm {
                background-color: #274547;
                color: white;
                font-weight: bold;
                margin: 20px;

                &:hover {
                    cursor: pointer;
                    -webkit-transform: scale(0.97,0.97);
                    -moz-transform: scale(0.97,0.97);
                    -o-transform: scale(0.97,0.97);
                    -ms-transform: scale(0.97,0.97);
                    transform: scale(0.97,0.97);
                    color: #E9B8B4;
                }
            }
        }
    }
}