/*HTML ESHOP*/
.identPage{
    h1{
        @include titulo-rule;
    }
    h2{
        @include subtitulo-rule;
    }
}
.card {
    width: 18rem;
    border: none;
    .card-img-top{
        border-radius: 10px;
        box-shadow: 4px 4px 6px grey;
    }
    .card-body{
        .card-text span{
            font-weight: bold;
        }
    }
}


