/*ESTILOS DEL INDEX*/
#ldgContent {
    background: url(../img/concrete-wall-g6e777b7a7_1280.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);

    .venta {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 70%;
        align-items: flex-start;
        justify-content: center;
        margin-left: 30px;

        a button {
            margin-top: 20px;
            padding: 10px;
            font-weight: bold;
            text-transform: uppercase;

            &:hover {
                -webkit-transform: scale(0.97, 0.97);
                -moz-transform: scale(0.97, 0.97);
                -o-transform: scale(0.97, 0.97);
                -ms-transform: scale(0.97, 0.97);
                transform: scale(0.97, 0.97);
            }
        }
    }
}

#indexServices {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 1.5rem;
    background-color: #e8e8e8;

    img {
        border: #989DAC solid;
        border-radius: 100px;
        width: 200px;
        height: 200px;
        box-shadow: $sombras;

        &:hover {
            -webkit-transform: scale(1.05, 1.05);
            -moz-transform: scale(1.05, 1.05);
            -o-transform: scale(1.05, 1.05);
            -ms-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
        }

    }

    h3 {
        padding-top: 0.5rem;
    }
}

#quienesSomos {
    padding: 1rem;
    text-align: center;
}