/*HTML PROMOCIONES*/
.identPage {
    h1 {
        @include titulo-rule;
    }

    h2 {
        @include subtitulo-rule;
    }
}

#ldgOfertas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .banners {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 20px;

        .banners__prom {
            width: 400px;
            height: auto;
            text-align: justify;

            figure {
                width: 400px;
                height: auto;

                img {
                    border-radius: 5px;
                    box-shadow: 4px 4px 6px grey;
                }

                figcaption {
                    padding: 10px;
                    font-size: 16px;
                    font-weight: bold;
                    font-style: italic;
                    letter-spacing: 0.6px;
                }
            }
        }
    }

    .promo__action {
        text-transform: uppercase;
        font-weight: bold;
        color: black;
        font-size: 16px;
        letter-spacing: 0.5px;
    }
}