/*MEDIA QUERIES*/

@media (max-width: 952px) {
    header{
        nav{
            .enlace {
                padding-left: 20px;
            }
            ul {
                li{
                    a {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 858px) {
    /*Estilos del menú*/

header{
    nav{
        #check{
            &:checked~ul {
                left: 0;
            }
        }
        .checkbtn {
            display: block;
        }
        ul {
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #2c3e50;
            top: 100px;
            left: -100%;
            text-align: center;
            transition: all .5s;
            li {
                display: block;
                margin: 50px 0;
                line-height: 30px;
                a {
                    font-size: 20px;
                    &:hover,
                    li a.active {
                        background: none;
                        color: tomato;
                    }
                }
            }
        }
    }
}

    /* Estilos del Index*/
    #ldgContent{
        .venta{
            .venta {
                display: flex;
                flex-direction: column;
                width: 15%;
                height: 60%;
                align-items: flex-start;
                justify-content: center;
                margin-left: 20px;
                font-size: 8px;
                text-align: justify;
            }
            #secundSpeech {
                display: none;
            }
            a{
                button {
                    margin-top: 10px;
                    padding: 10px;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: small;
                }
            }
        }
    }  
    #indexServices {
        flex-direction: column;
        row-gap: 20px;
    }
    #quienesSomos{
        h3 {
            text-align: center;
        }
        p{
            text-align: justify;
        }
    }
    /*HTML SERVICIOS*/

    .portfolio__item-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        p{
            display: none;
        }
    }

    /*HTML PROMOCIONES*/

    #ldgOfertas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        margin-top: 20px;
        text-align: center;
        row-gap: 20px;
        .banners{
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            row-gap: 20px;
        }
    }


}